/* 768 screen sizes and up */

@media (min-width: 48em) {
  .header {
    font-size: 9.6rem;
  }

  .outer-container {
    padding: 20px;
  }

  .player-container-style {
    padding: 20px 40px 100px 40px;
  }

  .player-title {
    font-size: 4.8rem;
  }

  .player-score--style {
    font-size: 8rem;
  }

  .icon {
    height: 32px;
    width: 32px;
  }

  .button {
    font-size: 1.8rem;
    padding: 10px 20px;
    gap: 10px;
  }
  .button--restart {
    top: 40px;
  }

  .button--roll {
    bottom: 150px;
  }

  .button--hold {
    bottom: 70px;
  }

  .current-score-box {
    height: 90px;
  }

  .current-score-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .current-score--style {
    font-size: 3.6rem;
  }

  .dice {
    height: 120px;
    top: 20rem;
  }

  .winner-crown {
    font-size: 4.8rem;
  }
} ;
