*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: rgb(131, 58, 180);
  background-image: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(63, 94, 251, 1) 58%,
    rgba(252, 70, 107, 1) 100%
  );
  font-family: "Roboto Mono", monospace;
  min-height: 100vh;
}

footer {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  margin-top: 20px;
}

a,
a:link,
a:visited {
  color: white;
}

a:hover,
a:active {
  color: #f46f99;
}

.main-content {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  min-height: 100vh;
  margin: auto;
  max-width: 100rem;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  text-transform: uppercase;
  font-size: 4.8rem;
  /* margin-top: 40px; */
  background: #121fcf;
  background: linear-gradient(to left, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  margin-bottom: 30px;
}

.instructions-btn {
  display: block;
  background-color: #da1e5a;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px 0 black,
    1px 1px 0 black;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
  box-shadow: 0px 2px 5px black;
  margin-top: auto;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 10px;
}

.instructions-btn:hover {
  background-color: #f73170;
}

.instructions-btn:active {
  background-color: #da1e5a;
}

.instructions-container {
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
}

.instructions-title {
  padding-bottom: 5px;
  font-size: 2.2rem;
}

.instructions-text {
  font-size: 2.2rem;
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.outer-container {
  padding-right: 10px;
  padding-left: 10px;
  min-height: 30vh;
}
.inner-container {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  box-shadow: 0 30px 100px rgba(0, 0, 0, 40%);
}

.dice {
  position: absolute;
  height: 60px;
  z-index: 1;
  top: 10rem;
  box-shadow: 0rem 0rem 3rem rgba(131, 58, 180, 50%);
}

.player-container-style {
  background-color: rgb(254, 254, 254);
  padding: 20px;
  border-radius: 8px;
}

.player-1-container {
  width: 100%;
  opacity: 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.player-2-container {
  width: 100%;
  opacity: 50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.active-player {
  background-color: rgba(254, 254, 254, 70%);
  opacity: 100%;
}

.player-section {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.section-header {
  text-align: center;
}

.player-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.player-score--style {
  text-align: center;
  font-size: 4rem;
}

.current-score-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-score-box {
  height: 70px;
  max-width: 200px;
  padding: 5px 10px 0 10px;
  box-shadow: inset 0px 0px 277px 3px #3f5efb;
  border-radius: 8px;
  text-align: center;
}

.current-score-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.current-score--style {
  text-align: center;
  font-size: 1.8rem;
}

.button {
  font-size: 1.4rem;
  background-color: rgba(241, 8, 83, 70%);
  color: white;
  border: none;
  border-radius: 100px;
  padding: 5px 10px;
  font-family: "Roboto Mono", monospace;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button:hover,
.button:active {
  background-color: #da1e5a;
  opacity: 100%;
}

.button[disabled] {
  background-color: rgba(128, 128, 128, 50%);
  cursor: initial;
}

.button--restart {
  position: absolute;
  top: 10px;
}

.button--roll {
  position: absolute;
  bottom: 140px;
}

.button--hold {
  position: absolute;
  bottom: 95px;
}

.icon {
  height: 24px;
  width: 24px;
  stroke: black;
  border: none;
}

.hidden {
  display: none;
}

.winner-crown {
  text-align: center;
  font-size: 2.4rem;
}

.winner-crown--invisible {
  visibility: hidden;
}

/* media queries */

/* 768 screen sizes and up */
@media (min-width: 48em) {
  footer {
    font-size: 1.6rem;
  }

  .header {
    font-size: 9.6rem;
  }

  .instructions-btn {
    padding: 8px;
    font-size: 2rem;
  }

  .outer-container {
    padding: 20px;
  }

  .player-container-style {
    padding: 20px 40px 100px 40px;
  }

  .player-title {
    font-size: 4.8rem;
  }

  .player-score--style {
    font-size: 8rem;
  }

  .icon {
    height: 32px;
    width: 32px;
  }

  .button {
    font-size: 1.8rem;
    padding: 10px 20px;
    gap: 10px;
  }
  .button--restart {
    top: 40px;
  }

  .button--roll {
    bottom: 150px;
  }

  .button--hold {
    bottom: 70px;
  }

  .current-score-box {
    height: 90px;
  }

  .current-score-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .current-score--style {
    font-size: 3.6rem;
  }

  .dice {
    height: 120px;
    top: 20rem;
  }

  .winner-crown {
    font-size: 4.8rem;
  }
}
